$desktop-min-width: 1024px;
$text-title-color: #000000E5;
$text-main-color: #000000CC;
$text-primary-color: #000000B2;
$text-league-inactive-color: #0000008A;
$text-subtle-color: #00000061;
$text-video-main-color: #FFFFFF;
$text-video-second-color: #FFFFFFB2;
$effectDirection: 0.3s;
$text-table-name-color: #FFFFFF;
$text-table-property-color: #000000CC;
$table-placement-top2:#00B86C;
$table-placement-third: #3188FF;
$table-background: #333333;
$button-color: #5F788914;
$league-hover-color: #FFCE00;
$filter-hover-color: #FADB00;
$table-win-color:#00B16D;
$table-draw-color: #F2D927;
$table-lose-color: #F55333;
$info-symbol-color: #000000A3;
